<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>pinkish_red</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/page/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/page/500.jsp</location>
	</error-page>

	<servlet>
		<servlet-name>UserList</servlet-name>
		<servlet-class>web.UserList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserDelete.do</servlet-name>
		<servlet-class>web.UserDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserAdd</servlet-name>
		<servlet-class>web.UserAdd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsList</servlet-name>
		<servlet-class>web.NewsList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsAdd</servlet-name>
		<servlet-class>web.NewsAdd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsDelete</servlet-name>
		<servlet-class>web.NewsDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TopicList</servlet-name>
		<servlet-class>web.TopicList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TopicAdd</servlet-name>
		<servlet-class>web.TopicAdd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TopicDelete</servlet-name>
		<servlet-class>web.TopicDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GoodsList</servlet-name>
		<servlet-class>web.GoodsList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GoodsDelete</servlet-name>
		<servlet-class>web.GoodsDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GoodsAdd</servlet-name>
		<servlet-class>web.GoodsAdd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoteList</servlet-name>
		<servlet-class>web.NoteList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoteAdd</servlet-name>
		<servlet-class>web.NoteAdd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoteCount</servlet-name>
		<servlet-class>web.NoteCount</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoteUsersList</servlet-name>
		<servlet-class>web.NoteUsersList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoteList4UI</servlet-name>
		<servlet-class>web.NoteList4UI</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoteDelete</servlet-name>
		<servlet-class>web.NoteDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageList4UI</servlet-name>
		<servlet-class>web.MessageList4UI</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageAdd</servlet-name>
		<servlet-class>web.MessageAdd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageDelete</servlet-name>
		<servlet-class>web.MessageDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageUnReadList</servlet-name>
		<servlet-class>web.MessageUnReadList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PassChange</servlet-name>
		<servlet-class>web.PassChange</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ItemAdd</servlet-name>
		<servlet-class>web.ItemAdd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ItemUpdate</servlet-name>
		<servlet-class>web.ItemUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ItemDelete</servlet-name>
		<servlet-class>web.ItemDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderAdd</servlet-name>
		<servlet-class>web.OrderAdd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderList</servlet-name>
		<servlet-class>web.OrderList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderCommit</servlet-name>
		<servlet-class>web.OrderCommit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderReset</servlet-name>
		<servlet-class>web.OrderReset</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderDetail</servlet-name>
		<servlet-class>web.OrderDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>web.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderReceive</servlet-name>
		<servlet-class>web.OrderReceive</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserSearch</servlet-name>
		<servlet-class>web.UserSearch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UsersUpLoad</servlet-name>
		<servlet-class>web.UsersUpLoad</servlet-class>
	</servlet>



































	<servlet-mapping>
		<servlet-name>UserList</servlet-name>
		<url-pattern>/UserList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDelete.do</servlet-name>
		<url-pattern>/UserDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAdd</servlet-name>
		<url-pattern>/UserAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsList</servlet-name>
		<url-pattern>/NewsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsAdd</servlet-name>
		<url-pattern>/NewsAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsDelete</servlet-name>
		<url-pattern>/NewsDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicList</servlet-name>
		<url-pattern>/TopicList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicAdd</servlet-name>
		<url-pattern>/TopicAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicDelete</servlet-name>
		<url-pattern>/TopicDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsList</servlet-name>
		<url-pattern>/GoodsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsDelete</servlet-name>
		<url-pattern>/GoodsDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoodsAdd</servlet-name>
		<url-pattern>/GoodsAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoteList</servlet-name>
		<url-pattern>/NoteList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoteAdd</servlet-name>
		<url-pattern>/NoteAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoteCount</servlet-name>
		<url-pattern>/NoteCount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoteUsersList</servlet-name>
		<url-pattern>/NoteUsersList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoteList4UI</servlet-name>
		<url-pattern>/NoteList4UI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoteDelete</servlet-name>
		<url-pattern>/NoteDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageList4UI</servlet-name>
		<url-pattern>/MessageList4UI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageAdd</servlet-name>
		<url-pattern>/MessageAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageDelete</servlet-name>
		<url-pattern>/MessageDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageUnReadList</servlet-name>
		<url-pattern>/MessageUnReadList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PassChange</servlet-name>
		<url-pattern>/PassChange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemAdd</servlet-name>
		<url-pattern>/ItemAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemUpdate</servlet-name>
		<url-pattern>/ItemUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemDelete</servlet-name>
		<url-pattern>/ItemDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderAdd</servlet-name>
		<url-pattern>/OrderAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderList</servlet-name>
		<url-pattern>/OrderList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderCommit</servlet-name>
		<url-pattern>/OrderCommit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderReset</servlet-name>
		<url-pattern>/OrderReset</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderDetail</servlet-name>
		<url-pattern>/OrderDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderReceive</servlet-name>
		<url-pattern>/OrderReceive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSearch</servlet-name>
		<url-pattern>/UserSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsersUpLoad</servlet-name>
		<url-pattern>/UsersUpLoad</url-pattern>
	</servlet-mapping>



</web-app>